
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
*{
    margin: 0;

    font-family: 'Caveat', cursive;
}

/* Starts Body */

body{
    background-image: url(../img/backgrounds/wood.webp)
 }
 

/* Ends Body */
/* Starts Nav */

.bg-gray{
    background-color: rgba(1, 1, 1, 0.9);
}
.nav-position{
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
}
#botonera ul li a{
    color: rgb(222, 222, 222);
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    padding-right: 2rem;
    
}
.nav-button{
    background-color: rgba(255, 255, 255, 0.9);
}
nav ul li a:hover{
    font-weight: bolder;
    
}
#botonera img{
    max-width: 70px;
}
nav div a img:hover{
    transform: rotateZ(360deg);
    transition:2s;
}
/* Ends Nav */

/* Starts Carousel */
.carousel-img-dimensions{
    height: auto;
    width: 100%;
}

/* Ends Carousel */

/* Starts Main */
#inicio-cont {
    text-align: center;
}
#main-caja{
    text-align: center;
    background-image: url(../img/backgrounds/blackwood.jpg);
    margin: 10% 10% 10% 10%;
    color: rgb(222, 222, 222);
   
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3rem;
    border: double rgb(255, 255, 255) 10px
}

.main-img{
    width: 100%;
    padding: 3rem;

   
}
.text-title{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 5rem;
}
.text-subtitle{
    font-size: 4.5rem ;
}
.products-title{
    font-size: 4.5rem ;
}

.text-main{
    font-size: 3rem ;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.products-text{
    font-size: 3rem ;
    margin-left: 20%;
    margin-bottom: 6rem;
    text-align: left;
    
}
.products-boxes{
    align-items: center;

}
#products-boxes div div{

    text-align: center;
    list-style: none;
    background-image: url(../img/backgrounds/blackwood.jpg);
    
    color: rgb(222, 222, 222);
    padding-top: 3rem;
    border: double rgb(255, 255, 255) 10px;

    
}
.w-25{
    width: 25%;
}
#products-boxes div div img{
    width: 60%;
    height: auto;

}
.boxes-list div ul li{
    list-style: none;
}
.container{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.boxes-display{
    
    justify-content: space-around;
    
    
}
        /* Starts Contacto */
#contacto{
    text-align: left;
    background-image: url(../img/backgrounds/blackwood.jpg);
    margin: 10% 10% 10% 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2rem;
    border: double rgb(255, 255, 255) 10px;
    color: white;
}
.message{
    display: flex;
    flex-direction: column;
}
.button{
    width: 7rem;
    height: 3rem;

    

}
.map{
    display: flex;
    justify-content:flex-start;
    align-items:center;
        /* Ends Contacto */
}
.map-pad{
    padding: 2rem;
}
 /* Ends Main */
/* Starts Footer */
footer{
    background-color: rgba(1, 1, 1, 0.9);
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -20remx;


    
    left:0;
    right:0;
    bottom:0;
    
}
footer ul div img{
    max-width:5rem;
    max-height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
footer ul div{
    display: flex;
    
    justify-content: space-around;
    align-items: center;

    text-align: center;
}
footer ul div a img:hover{
    transform: scale(1.2);
}

/* Ends Footer */
.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

}
