#main-caja{
    text-align: center;
    background-image: url(../img/backgrounds/blackwood.jpg);
    margin: 10% 10% 10% 10%;
    color: rgb(222, 222, 222);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3rem;
    border: double rgb(255, 255, 255) 10px
}