*{
    font-family: 'Caveat', cursive;
    
}
// Body 
body{
    background-image: url(../img/backgrounds/wood.webp);
}
// Nav
nav{
    background-color: rgba(1, 1, 1, 0.9);
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
    a:hover{
        font-weight: bolder;
    }
}
#botonera{
    a{
        color: rgb(222, 222, 222);
        text-decoration: none;
        font-size: 2rem;
        display: inline-block;
        padding-right: 2rem;
        
    }
    img{
        max-width: 70px;
    }
    img:hover{
        transform: rotateZ(360deg);
    transition:2s;
    }
}
// carousel
#carouselExampleIndicators{
    img{
        height: auto;
        width: 100%;
        max-height: 53.5rem;
    }
}
// Main
main{
    h1{
        font-size: 5rem;
        font-weight: bold;
    }
}
#inicio-cont{
    text-align: center;    
    #main-caja{
        text-align: center;
        background-image: url(../img/backgrounds/blackwood.jpg);
        margin: 10% 10% 10% 10%;
        color: rgb(222, 222, 222);
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 3rem;
        border: double rgb(255, 255, 255) 10px;
    }
    h2{font-size: 4.5rem;}
    p{
        font-size: 2.5rem ;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
}
#contacto{
    text-align: left;
    background-image: url(../img/backgrounds/blackwood.jpg);
    margin: 10% 10% 10% 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2rem;
    border: double rgb(255, 255, 255) 10px;
    color: white;
    h2{ font-size: 3.5rem;
        font-weight: bold;
        margin-top: 5rem;}
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    article{  
        div{
            display: flex;
            flex-direction: column;
    }}
}
footer{
    background-color: rgba(1, 1, 1, 0.9);
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -20remx;
    left:0;
    right:0;
    bottom:0;
    img{
        max-width:5rem;
        max-height: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div{
        display: flex;
    
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }
    img:hover{
        transform: scale(1.2);
    }
}
header{
    h1{    font-size: 5rem;
        font-weight: bold;
        margin-top: 5rem;
    }
}
#main-caja{
    text-align: center;
    background-image: url(../img/backgrounds/blackwood.jpg);
    margin: 10% 10% 10% 10%;
    color: rgb(222, 222, 222);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3rem;
    border: double rgb(255, 255, 255) 10px;
    img{    width: 100%;
        padding: 3rem;}

    h2{font-size: 4.5rem ;}
    
    p{
        font-size: 2.5rem ;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
#products-boxes{
    p{font-size: 2rem;}
    h2{font-size: 3.5rem;}
    div{
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        div{
            h3{font-size: 3rem;}
            p{font-size: 2rem;}
            li{text-decoration: none;
            font-size: 1.5rem;
        list-style: none;}
        text-align: center;
        list-style: none;
        background-image: url(../img/backgrounds/blackwood.jpg);
        
        color: rgb(222, 222, 222);
        padding-top: 3rem;
        border: double rgb(255, 255, 255) 10px;
    img{    width: 60%;
        height: auto;
    }
    }}
}